@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme{
  --color-dark-gray-350: rgba(255, 255, 255, 0.055);
  --color-dark-gray-400: rgba(255, 255, 255, 0.081);
  --color-dark-gray-650: rgb(47, 47, 47);
  --color-dark-gray-700: rgb(42, 42, 42);
  --color-dark-gray-800: rgb(32, 32, 32);
  --color-dark-gray-850: rgb(27, 27, 27);
  --color-dark-gray-900: rgb(25, 25, 25);

  --color-alpha-46: rgba(255, 255, 255, 0.46);
  --color-alpha-81: rgba(255, 255, 255, 0.81);
  --color-alpha-87: rgba(255, 255, 255, 0.87);

  --color-gray-400: #9b9b9b;
  --color-gray-500: rgba(255, 255, 255, 0.282);
}

:host {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
