<top-bar [pageTitle]="'Entries'" />

<div class="container w-full my-10">
  <div class="flex justify-between items-center">
    <h2 class="text-alpha-81">Manage Entries</h2>

    <button type="button" (click)="selectedEntryId$.next('new')"
            class="text-alpha-81 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3  py-2 text-center inline-flex items-center me-2 my-4 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      <i class="fa-solid fa-plus mr-2 text-2xl mb-1"></i>
      Add Entry
    </button>
  </div>
  @if (this.queryParams()?.['selected']; as entryId) {
    <app-entry-form [entryId]="entryId === 'new' ? '' : entryId" (close)="handleFormOutput($event)" />
  }

  <div class="rounded-2xl overflow-clip">
    <table class="w-full table-auto text-sm text-left  text-gray-500 border-collapse">
      <thead>
      <tr>
        <th class=" pl-3 py-3">Name</th>
        <th class="py-3">Description</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class=" text-alpha-81">
        @for (entry of this.entryService.entries(); track entry.id) {
          <tr class="border-b border-b-dark-gray-650 hover:bg-dark-gray-700">
            <td class="px-3 py-4 border-r border-r-dark-gray-650">{{ entry.name }}</td>
            <td class="p-1 border-r border-r-dark-gray-650">{{ entry.description }}</td>
            <td class="p-1">
              <button (click)="selectedEntryId$.next(entry.id)" class="text-blue-500 hover:underline pr-1">Edit</button>
              <button (click)="entryService.remove$.next(entry.id)" class="text-blue-500 hover:underline">Remove
              </button>
            </td>
          </tr>
        } @empty {
          <tr class="w-full h-12 border-b border-b-dark-gray-400 border-gray-700">
            <td colspan="5" class="text-center">There are no entries yet</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

