.tag-picker-modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.picker-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}
